* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-action-container {
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
}

.cell-props-action-container {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cell-props-action-container>* {
    display: inline-block;
    margin-right: 1rem;

}

.cell-props-action-container>select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 0.2rem;
}

.font-size-prop {
    padding: 0.2rem;
}

.formula-action-container {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-action-container>* {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-action-container>input {
    border: none;
    outline: none;
    height: 70%;
}

.formula-icon {
    width: 1.2rem;
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.sheets-action-container {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

.sheets-action-container>* {
    display: inline-block;
}

.sheets-add-icon {
    width: 2vw;
}

.sheets-folder-container {
    height: 80%;
    width: calc(100vw - 2vw);
    display: flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}

.grid-container {
    height: calc(100vh - 3rem - 2rem - 3rem - 3rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}

.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color: #747d8c;
    position: fixed;
    z-index: 1;
}

.address-col-container {
    position: sticky;
    top:2rem;
    left: 0;
}

.cells-container {
    position: absolute;
    top: 0;
    left: 2rem;
}

.address-row-container {
    height: 2rem;
    display: flex;
    position: sticky;
    top:0;
    left: 2rem;
}

.address-col {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}

.address-row {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
}

.row-container {
    display: flex;
}
